Source: esm
Section: utils
Maintainer: Dzove855 <dzove855@yoctu.com>
Build-Depends: debhelper
Standards-Version: 0.9.55

Package: esm
Architecture: all
Priority: optional
Depends: lighttpd, jq, ldap-utils, yosh, yoctu-scripts, netcat-openbsd, yoctu-client-scripts
Description: YOCTU ESM - Entreprise Server Management
